body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,95%);
}


#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 25px;
    max-width: 1000px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: center;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background: radial-gradient(
        circle at top,
        hsl(0, 0%, 40%),
        hsl(0, 0%, 30%),
        hsl(0, 0%, 20%)
    );
    color: white;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow:
        0 8px 0 hsl(0, 0%, 15%),
        0 12px 20px rgba(0, 0, 0, 0.4);
}
button:hover {
    filter: brightness(1.15);
}
button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #222;
}
.operator-btn {
    background: radial-gradient(
        circle at top,
        hsl(35, 100%, 65%),
        hsl(35, 100%, 55%),
        hsl(35, 100%, 45%)
    );
}  
